.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 1;
  margin-left: 230px;
  padding: 2rem;
  background: #f5f5f5;
  transition: all 0.3s ease;
}
